.bg-pink-ligth {
    background-color: rgb(241, 223, 232);
  }
  .img-cover {
    object-fit: cover;
  }
  .pt-6 {
    padding-top: 100px;
  }
  .mb-6 {
    margin-bottom: 150px;
  }
  .btn-pink {
    background-color:#f08db9;
  }
  .text-pink {
    color: #f08db9;
  }
  .text-pink-ligth {
    color: rgb(241, 223, 232);
  }